body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #464545; /* Aesthetic background color for the whole page */
  color: #333;
  display: flex;
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin: auto auto;
}

.hotel-card {
  width: 30%; /* Widening the hotel card */
  max-height: fit-content;
  margin: 20px auto;
  background-color: #ffffff; /* White background for the card */
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Improved shadow effect */
}

.card-header {
  background-color: #f2f2f2; /* Aesthetic blue color for the header */
  text-align: center;
  padding: 15px; /* Increased padding for a better look */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-header h2 {
  margin: 0;
}

.card-image {
  /* Placeholder gradient background for the card image */
  height: 200px; /* Increased height for a better visual impact */
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  padding: 20px; /* Increased padding for better spacing */
  text-align: center;
}

.card-content p {
  margin: 0 0 10px 0;
}

a {
  text-decoration: none;
  color: black;
}

.pagination-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 10%;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.pagination-number {
  --size: 32px;
  --margin: 6px;
  margin: 0 var(--margin);
  border-radius: 6px;
  background: #202020;
  max-width: auto;
  min-width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
}

.pagination-number:hover {
  background: #b1aeae;
}

.active-page {
  background: #949494;
}
